

.navbar{
    border-bottom: blanchedalmond solid 1px;
    border-top: blanchedalmond solid 1px;
   
}

span .navbar-toggler-icon{
    color: whitesmoke;
}

.nav-link{
    color: blanchedalmond;
    text-align: center;
    height: 30px;
    border-left: whitesmoke solid 1px;
    
    align-content: center;
    
    
}

.navbar-nav{
    margin-left: auto;
    margin-right: auto;
}

.search input{
    width: 200px;
    height: 40px;
    margin-right: 20px;
}

.filter-btn{
    background-color: white;
}

.search{
    padding-bottom: 30px;
    padding-top: 0px;
    margin-left: 20px;
}

#navba{
    margin-bottom: 30px;
}
