<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" *ngFor="let planet of planetas">
        <div class="card">
            <div class="image">
                <a [routerLink]="['/character-details', planet.url]">
                    <img src="http://img2.wikia.nocookie.net/__cb20130226044533/starwars/images/thumb/1/18/Tatooine3.png/500px-Tatooine3.png"
                    [alt]="planets.name"
                    class="card-img-top"/>
                </a>
            </div>
            <div class="card-inner">
                <div class="header">
                    <a [routerLink]="['/character-details', planet.url]">
                        <h2>{{planet.name}}</h2>
                    </a>
                    <h4 class="text-muted">{{planet.diameter}}</h4>
                    <small class="text-muted">{{planet.climate }}</small>
                </div>
            </div>
        </div>
    </div>

    <div id="pages" class="form-group row ">
        <div class="col-sm-1">
            <label for="cantidadClientes" class="col-sm-1 col-form-label"> Página: </label>
        </div>
        <div class="col-sm-1">
            <input type="number" #page class="form-control" id="cantidadClientes" value="1">
        </div>
        <div class="col-sm-1">
            <button type="button" class="btn" (click)="getPlanets(page.value)">Buscar</button>
        </div>
    </div>
  
</div>
